body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.marker{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
}

.markertwo{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  font-size: 20px;
}

banner{
  position: relative;
  margin:0;
  padding: 0;
  height: 100%;
  background: none;
}
