.container{
    height: 10%;
    width: 100%;
    background-color:#211e1f; 
   
}

.banner{
    color: white;
    text-align: center;
    font-family: 'Yellowtail', cursive;
    font-weight: lighter;
    font-size: 50px;
    padding-top: 1%;
    padding-bottom:1%;
    margin:0;
    
}

